{% extends 'base.html' %}
{% block title %}Posts{% endblock %}
{% block body %}
    <h1>Post List</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">
                    <img src="{{ post.image.url }}" width="200px">
                    <h3>{{ post.title }}</h3>
                    {% with content=post.content|safe %}
                        <span>{{ content|truncatechars:20 }}</span>
                    {% endwith %}
                    <p>created at: {{ post.created_at }}</p>
                </a>
            </li>
            <hr>
        {% empty %}
            <h3>There are no post on the site now</h3>
        {% endfor %}
    </ul>
{% endblock %}