{%extends 'main.html' %}
{%block title%}
meowwww
{%endblock%}
{%block body%}


<h1>{{university.name}}<h1>
<form method="get">
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>
    {% for items in professors  %}

<br><br>
<h3>{{items.name}}</h3><!--can make it a link for (professor profile dont forget to do it dumby)(if youre payam or alireza  do not touch this until i get back on it(the whole html file))-->

<a href="{%url 'edu:profile' items.id%}"><img src="{{items.photo.url}}" style="width: 300px; height: 300px;"></a>
<br><br>

{%endfor%}
{%endblock%}