{% extends 'base.html' %}
{% block title %}Position Details{% endblock %}
{% block body %}
<div>
    <h3>{{ position.title }}</h3>
    <span>{{ position.description|truncatechars:25 }}</span>
    <a href="{{ position.university.get_absolute_url }}">
        <span>university: {{ position.university.name }}</span>
    </a>
    <a href="{{ position.professor.get_absolute_url }}">
        <span>professor: {{ position.professor.name }}</span>
    </a>
    <p>major: {{ position.major.title }}</p>
    <p>posted date: {{ position.posted_date }}</p>
    <p>deadline: {{ position.deadline }}</p>
    <p>is open: {{ position.is_open }}</p>
</div>
{% endblock %}