{% extends 'base.html' %}
{% block title %}Publication Details{% endblock %}
{% block body %}
<h2>Publication Details</h2>
<h3>title: {{ publication.title }}</h3>
<br>
<span>
    file: 
    <a href="{{ publication.file.url }}">
        {{ publication.file.name }}
        <br>
        {{ publication.file.size|filesizeformat }}
    </a>

</span>
<br>
<span>authors: </span>
{% for author in authors %}
    <span>
        <a href="{{ author.get_absolute_url }}">
            {{ author.first_name }} {{ author.last_name }}
        </a>
        {% if not forloop.last %}
        <span>, </span>
        {% endif %}
    </span>
{% endfor %}
<hr>
{% endblock %}