{% extends 'base.html' %}
{% block title %}Publications{% endblock %}
{% block body %}
    <h1>Publication List</h1>
    <ul>
        {% for publication in publications %}
            <li>
                <a href="{{ publication.get_absolute_url }}">
                    <h3>title: {{ publication.title }}</h3>
                    <br>
                    <span>authors: </span>
                    {% with authors=publication.authors.all %}
                    {% for author in authors %}
                        <span>
                            {{ author.first_name }} {{ author.last_name }}
                            {% if not forloop.last %}
                            <span>, </span>
                            {% endif %}
                        </span>
                    {% endfor %}
                    {% endwith %}
                </a>
            </li>
            <hr>
        {% empty %}
            <h3>There are no publication on the site now</h3>
        {% endfor %}
    </ul>
{% endblock %}