{% extends 'base.html' %}
{% block title %}Universities{% endblock %}
{% block body %}
    <h1>University List</h1>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for university in universities %}
            <li>
                <a href="{{ university.get_absolute_url }}">
                    <h3>name: {{ university.name }}</h3>
                    <br>
                    <img src="{{ university.logo.url }}" width="250px">
                    <br>
                    <span>location: {{ university.location }}</span>
                    <br>
                    <p>rank: {{ university.rank }}</p>
                </a>
            </li>
            <hr>
        {% empty %}
            <h3>There are no university on the site now</h3>
        {% endfor %}
    </ul>
{% endblock %}